.contact-section {
  height: 100vh;
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
}

.contact-header {
  font-size: 40px;
  margin-top: 110px;
  align-self: center;
  margin-bottom: 60px;
}
