.header {
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-width: 1.8px;
  align-items: center;
  z-index: 5;
}

.logo-header {
  width: 100px;
  padding-top: 5px;
}

.left-section {
  color: white;
  padding-left: 120px;
}

.middle-section ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.middle-section {
  width: 400px;
  color: white;
  display: flex;
  padding-right: 120px;
  justify-content: space-between;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-top: 15px;
}

.middle-section a:hover {
  color: #a7a7a7;
}

@media (max-width: 768px) {
  .middle-section ul {
    gap: 18px;
  }
}

@media (max-width: 500px) {
  .middle-section ul {
    display: none;
  }
}
