.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  height: 100vh;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    rgb(0, 0, 0),
    transparent,
    transparent,
    rgb(0, 0, 0)
  );
}

.hero-header {
  color: #fff;
  font-size: clamp(40px, 8vw, 160px);
  margin: 0;
}

.hero-description {
  color: #fff;
  font-size: clamp(14px, 2vw, 20px);
  margin: 0;
  padding-bottom: 50px;
}

.hero-content {
  max-width: 90%;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .hero-header {
    font-size: 60px;
  }
  .hero-description {
    font-size: 16px;
  }
  .hero-section {
    padding: 20px 0;
  }
}
