p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 950px;
  background-color: black;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 200px;
  height: 100vh;
  padding: 2rem;
  text-align: center;
}

.hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 200px;
  margin: 0;
}

.hero-description {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
  margin: 0;
}
