p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  height: 100vh;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(
    rgb(0, 0, 0),
    transparent,
    transparent,
    rgb(0, 0, 0)
  );
}

.hero-header {
  color: rgb(255, 255, 255);
  font-size: 160px;
  margin: 0;
}

.hero-description {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 0;
  padding-bottom: 100px;
}

.about-section {
  height: 100vh;
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding-left: 140px;
  flex-direction: column;
}

.about-contents {
  display: flex;
  flex-direction: row;
}

.about-header {
  font-size: 40px;
  margin-top: 110px;
}

.about-description {
  padding-top: 30px;
  padding-right: 100px;
  font-size: 20px;
  text-align: justify;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 40px;
}

.about-img {
  display: flex;
  margin-right: 140px;
  margin-top: 36px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: white;
  size: 100%;
}

.background-clip2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.history-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding-left: 140px;
  flex-direction: column;
  padding-right: 140px;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    rgb(0, 0, 0),
    transparent,
    transparent,
    rgb(0, 0, 0)
  );
  z-index: 1;
  pointer-events: none;
}

.history-content {
  z-index: 2;
  color: white;
}

.history-header {
  font-size: 40px;
  text-align: center;
  margin-top: 55px;
}

.history-description {
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 40px;
}

.gallery-section {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0;
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding-left: 140px;
}

.gallery-header {
  font-size: 40px;
  margin-top: 130px;
}

.contact-section {
  height: 100vh;
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
}

.contact-header {
  font-size: 40px;
  margin-top: 110px;
  align-self: center;
  margin-bottom: 60px;
}

.footer-section {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
}

form {
  width: 600px;
  height: 500px;
  padding: 20px;
  border: 2px;
  background-color: transparent;
  backdrop-filter: blur(100px);
  border-radius: 16px;
  border-style: solid;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
  align-self: flex-start;
  font-size: 20px;
}

input,
textarea,
button {
  width: 580px;
  margin-bottom: 15px;
  border: 1px solid;
  background-color: white;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

.message {
  height: 160px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}

.submit-button {
  height: 50px;
  width: 600px;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: white;
  color: white;
  border-width: 2px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.submit-button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition-duration: 0.4s;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}
