p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 950px;
  background-color: black;
}

.header {
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-width: 1.8px;
  align-items: center;
}

.left-section {
  color: white;
  margin-left: 120px;
}

.middle-section {
  width: 400px;
  color: white;
  display: flex;
  margin-right: 120px;
  justify-content: space-between;
}

.hero-section {
display: flex;
justify-content: center;
align-items: center;
height: 870px;
color: red;
font-size: 200px;
}
